.profile-card-container {
    padding: 3px;
    border: 1p solid black;

}

* {
    outline: 1p solid black;
}

.profile-image {
    display: block;
    width: 40%;
    border-radius: 10px;
    border: 4px solid white;
    margin-top: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    margin-bottom: 0;
}

h4 {
    color: #8899a6;
    font-size: 14px;
    font-weight: 300;
    font-family: Helvetica, sans-serif;
    margin-top: 0;

}

.background-image {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.profile-stats {
    width: 33%;
    float: left;
    text-align: center;
}

.name-block {
    position: absolute;
    left: 140px;
    top: 90px;
}

h5 {
    color: #1DA1F2;
    margin-top: 0;
}

h2 {
    font-size: 14px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    margin-bottom: 0;
    color: #0084B4;
}

ul {
    list-style-type: none;
}

